ExternalTools/Fermat/ferl6/*
ExternalTools/Fermat/ferm6/*
ExternalTools/QGRAF/Binary/*
ExternalTools/QGRAF/LaTeX/*.aux
ExternalTools/QGRAF/LaTeX/*.log
ExternalTools/LoopTools/LoopTools
ExternalTools/LoopTools/LoopTools.exe
Examples/pySecDec/*/loopint
Documentation/Examples/*/tmp/*
Documentation/Examples/*/results/kira.db
Documentation/Examples/*/sectormappings/*
Documentation/Examples/*/*.log
